button {
  border-radius: 5px;
  padding: 0.2em 0.4em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
@import "tailwindcss";
@import "@fontsource/inter/index.css";

@tailwind utilities;
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #272424;
  background-color: #edefee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
  font-weight: bold;
}
h2 {
  font-size: 2.2em;
  line-height: 1.1;
  font-weight: 600;
}
th {
  text-align: start;
}
tr {
  width: 100%;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
input {
  
  border-radius: 6px;
  border-color: #e0e0e0;
  border-width: 2px;
  border-style: solid;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #057c37;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
